#azul {
    color: blue;
    background-color: bisque;
}

#vermelho {
    color: red;
    background-color: bisque;
}

#roxo {
    color: purple;
    background-color: bisque;
}

#marrom {
    color: brown;
    background-color: bisque;
}